1 VERSIONINFO
FILEVERSION     2,1,0,0
PRODUCTVERSION  2,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "SandDunes"
      VALUE "FileDescription", "TVTorrent - libTorrent client"
      VALUE "FileVersion", "2.1"
      VALUE "InternalName", "TVTorrent - a simple and light libTorrent client"
      VALUE "LegalCopyright", "Simon Aron"
      VALUE "OriginalFilename", "TVTorrent"
      VALUE "ProductName", "TVTorrent"
      VALUE "ProductVersion", "2.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END